@font-face {
    font-family: 'Funky Bird PERSONAL USE';
    src: url('FunkyBirdPERSONALUSE-Regular.woff2') format('woff2'),
        url('FunkyBirdPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

